
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900');
@import url("https://use.typekit.net/wvc2ysy.css");
@import url("custom-properties.css");

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--color-background);
  color: var(--color-text-default);
  font-family: var(--font-family);
  font-size: var(--text-base-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height-text);
  display: grid;
  grid-gap: 1vw;
  grid-template-areas:
    "header"
    "main"
    "aside"
    "footer";
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: var(--spacing-large) auto;
  
}

@media (min-width: 30em) {
  body {
    grid-gap: 2vw;
    grid-template-areas:
      "header header"
      "main aside"
      "footer footer";
    grid-template-columns: 3fr 1fr;
    margin: var(--spacing-large) auto;
    width: var(--min-width);
    
  }
}

header {
  grid-area: header;
  border-bottom: 1px solid var(--ucla-darker-blue);
}

main {
  grid-area: main;
}

aside {
  grid-area: aside;
}

footer {
  border-top: 1px solid var(--ucla-darker-blue);
  grid-area: footer;
}

h1 {
  font-family: var(--font-family);
  font-size: var(--font-size-xxx-display);
  font-weight: var(--font-weight-black);
  line-height: var(--line-height-heading);
}

header h1 {
  font-family: var(--font-family);
  font-size: var(--font-size-xxx-display);
}

article h2 {
  font-size: var(--font-size-display);
  font-weight: var(--font-weight-black);
  line-height: var(--line-height-heading);
  margin-bottom: var(--spacing-medium);
  margin-top: var(--spacing-x-large);
}

section h2 {
  font-size: var(--font-size-xxx-large);
  font-weight: var(--font-weight-black);
}

article .standfirst {
  font-size: var(--font-size-x-large);
}


@media (min-width: 30em) {
  article .standfirst {
    color: var(--ucla-blue);
    font-size: var(--font-size-x-large);
    margin: 0;
    padding: 0;
  }
}

ul,
ol {
  margin-left: 0;
  padding-left: 0;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  justify-content: space-between;
  margin: var(--spacing-small);
}

nav .selected {
  font-weight: 700;
  color: var(--ucla-magenta);
}

.avatar {
  border: var(--border-width-thick) solid var(--color-celery-dark);
  border-radius: var(--border-radius-circle);
}

.float {
  float: right;
  margin-left: var(--spacing-large);
  shape-outside: circle(50%);
}

/* article p:first-of-type::first-line {
  font-feature-settings: "smp" 1;
  font-weight: 700;
} 
 article p:first-of-type::first-letter {
  font-size: 250%;
  line-height: 1;
}  */



.list-interviews {
  display: grid;
  grid-gap: 2vw;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.list-interviews img {
  object-fit: cover;
  width: 100%;
}