@import url("https://use.typekit.net/iuu6suv.css");
@import url("custom-properties.css");
html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  color: var(--color-text-default);
  font-family: var(--font-family);
  font-size: var(--text-base-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height-text);
  display: grid;
  grid-gap: 1vw;
  grid-template-areas: "header" "nav" "main" "aside" "footer";
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: var(--spacing-large) auto; }

.rivers-8-stars {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2vw; }

.rivers-8-stars img {
  border: 5px solid var(--ucla-gold);
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%; }

#existingSurveys {
  background-image: url("../img/back2.jpg"); }

@media (min-width: 30em) {
  body {
    grid-gap: 2vw;
    grid-template-areas: "header header" "nav nav" "main main" "aside aside" "footer footer";
    grid-template-columns: 3fr 1fr;
    margin: var(--spacing-large) auto;
    width: var(--min-width); } }

@media (min-width: 30em) {
  body.interview {
    grid-template-areas: "header header" "photo photo" ". main" "footer footer";
    grid-template-columns: 1fr 3fr;
    margin: var(--spacing-large) auto;
    width: var(--min-width); } }

header {
  grid-area: header;
  border-bottom: 1px solid var(--ucla-darker-blue); }

.interview img.headshot {
  grid-column: 1 / -1;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain; }

main {
  grid-area: main; }

aside {
  grid-area: aside; }

footer {
  border-top: 1px solid var(--ucla-darker-blue);
  grid-area: footer; }

h1, h2, h3 {
  font-family: var(--font-family-display);
  line-height: var(--line-height-heading);
  text-transform: uppercase;
  margin: 0 0 var(--spacing) 0; }

h1 {
  font-size: var(--font-size-xxxx-display);
  font-weight: var(--font-weight-bold); }

h2 {
  font-family: var(--font-family-display);
  font-size: var(--font-size-xx-display);
  font-weight: var(--font-weight-bold);
  margin-top: var(--spacing-x-large); }

h3 {
  font-family: var(--font-family-display);
  font-size: var(--font-size-x-display);
  font-weight: var(--font-weight-bold); }

header h1 {
  letter-spacing: 10px; }

.standfirst {
  font-size: var(--font-size-x-large);
  margin-bottom: var(--spacing-x-large); }

@media (min-width: 30em) {
  .standfirst {
    font-size: var(--font-size-xx-large);
    margin: 0;
    padding: 0; } }

ul,
ol {
  margin-left: 0;
  padding-left: 0; }

nav ul {
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex; }

nav ul li {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  margin: var(--spacing-small); }

nav .selected {
  font-weight: 700;
  color: var(--ucla-darker-blue); }

figure {
  margin: 0;
  padding: 0; }

.marqee {
  display: grid;
  grid-gap: 2vw;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); }

.marqee figure img {
  border: var(--border-width-thick) solid var(--ucla-blue);
  margin: auto;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%; }

.marqee figcaption {
  font-family: var(--font-family-display);
  font-size: var(--font-size-xx-large);
  line-height: 1; }

.marqee span {
  display: block;
  font-weight: var(---font-weight-bold);
  font-size: var(--font-size-x-large); }

.float {
  float: right;
  margin-left: var(--spacing-large);
  -webkit-shape-outside: circle(50%);
          shape-outside: circle(50%); }

/* article p:first-of-type::first-line {
  font-feature-settings: "smp" 1;
  font-weight: 700;
} 
 article p:first-of-type::first-letter {
  font-size: 250%;
  line-height: 1;
}  */
.list-interviews {
  display: grid;
  grid-gap: 2vw;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); }

.list-interviews img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%; }

.column {
  outline: 2px dotted hotpink;
  float: left;
  width: 25%;
  padding: 5px; }

.container1 {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
          align-items: flex-start;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
          flex-grow: 1;
  -webkit-justify-content: space-around;
          justify-content: space-around;
  margin: 70px auto 0; }

.container1 .box {
  position: relative;
  width: 200px;
  height: 300px;
  margin: 10px auto 0;
  box-sizing: border-box;
  display: inline-block; }

.container1 .box .imgBox {
  position: relative;
  overflow: hidden; }

.container1 .box .imgBox img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 200px;
  height: 300px; }

.container1 .box:hover .imgBox img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2); }

.container1 .box .details {
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background: rgba(0, 0, 0, 0.8);
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s; }

.container1 .box:hover .details {
  -webkit-transform: scaleY(1);
          transform: scaleY(1); }

.container1 .box .details .content {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
  padding: 15px;
  color: #fff; }

.container1 .box .details .content p {
  margin: 10px 0 0;
  padding: 0; }
/*# sourceMappingURL=styles.css.map */