
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900');
@import url("https://use.typekit.net/wvc2ysy.css");
@import url("custom-properties.css");

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  /*background-color: var(--ucla-lightest-blue);*/
  background-image: url("../img/back6.jpg");
  /*text-shadow: 0px 2px 5px rgba(0,0,0,0.4), 0px 16px 20px rgba(0,0,0,0.1), 0px 26px 34px rgba(0,0,0,0.1);*/
  background-size: cover;
  background-position: center;
  color: var(--color-text-default);
  font-family: var(--font-family);
  font-size: var(--text-base-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height-text);
  display: grid;
  grid-gap: 1vw;
  grid-template-areas:
    "header"
    "main"
    "aside"
    "footer";
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: var(--spacing-large) auto;
}
  

#existingSurveys {
  background-image: url("../img/back2.jpg");
}

@media (min-width: 30em) {
  body {
    grid-gap: 2vw;
    grid-template-areas:
      "header header"
      "main aside"
      "footer footer";
    grid-template-columns: 3fr 1fr;
    margin: var(--spacing-large) auto;
    width: var(--min-width);
    
  }
}

@media (min-width: 30em) {
  body.interview {
    grid-template-areas:
      "header header"
      "photo photo"
      ". main"
      "footer footer";
    grid-template-columns: 1fr 3fr;
    margin: var(--spacing-large) auto;
    width: var(--min-width);
    
  }
}

header {
  grid-area: header;
  border-bottom: 1px solid var(--ucla-darker-blue);
}

.interview img.headshot {
  grid-column: 1 / -1;
  width: 100%;
  object-fit: contain;
}

main {
  grid-area: main;
}

aside {
  grid-area: aside;
}

footer {
  border-top: 1px solid var(--ucla-darker-blue);
  grid-area: footer;
}

h1 {
  font-family: var(--font-family);
  font-size: var(--font-size-xxx-display);
  font-weight: var(--font-weight-black);
  line-height: var(--line-height-heading);
}

header h1 {
  font-family: var(--font-family);
  font-size: var(--font-size-xxx-display);
}

article h2 {
  font-size: var(--font-size-display);
  font-weight: var(--font-weight-black);
  line-height: var(--line-height-heading);
  margin-bottom: var(--spacing-medium);
  margin-top: var(--spacing-x-large);
}

section h2 {
  font-size: var(--font-size-xxx-large);
  font-weight: var(--font-weight-black);
}

article .standfirst {
  font-size: var(--font-size-x-large);
}


h3 {
  font-family: var(--font-family);
  font-size: var(--font-size-xxx-display);
  font-weight: var(--font-weight-black);
  line-height: var(--line-height-heading);
  text-justify: left;
}

@media (min-width: 30em) {
  article .standfirst {
    color: var(--ucla-blue);
    font-size: var(--font-size-x-large);
    margin: 0;
    padding: 0;
  }
}

ul,
ol {
  margin-left: 0;
  padding-left: 0;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  justify-content: space-between;
  margin: var(--spacing-small);
}

nav .selected {
  font-weight: 700;
  color: var(--ucla-magenta);
}

.avatar {
  border: var(--border-width-thick) solid var(--color-celery-dark);
  border-radius: var(--border-radius-circle);
}

.float {
  float: right;
  margin-left: var(--spacing-large);
  shape-outside: circle(50%);
}

/* article p:first-of-type::first-line {
  font-feature-settings: "smp" 1;
  font-weight: 700;
} 
 article p:first-of-type::first-letter {
  font-size: 250%;
  line-height: 1;
}  */


.list-interviews {
  display: grid;
  grid-gap: 2vw;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.list-interviews img {
  object-fit: cover;
  width: 100%;
}

.column {
 float: left;
 width: 25%;
 padding: 5px;
}

.container1 {
  width: :1280px;
  min-height: 900px;
  margin: 70px auto 0;
  display: flex;
  align-items: flex-start; 
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow:1;
  justify-content: space-around;
}

.container1 .box{
  position:relative;
  width:200px;
  height:300px;
  margin: 10px auto 0;
  box.sizing: border-box;
  display: inline-block;
}

.container1 .box .imgBox{
  position: relative;
  overflow: hidden;

}

.container1 .box .imgBox img{
  object-fit: cover;
  width: 200px;
  height: 300px;

}

.container1 .box:hover .imgBox img{
  transform:scale(1.2);
}

.container1 .box .details{
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background:rgba(0,0,0,.8);
  transform: scaleY(0);
  transition: transform .5s;
}

.container1 .box:hover .details{
  transform: scaleY(1);
}
.container1 .box .details .content {
  position: absolute;
  top: 50%;
  transform:translateY(-50%);
  text-align:center;
  padding: 15px;
  color: #fff;
}
.container1 .box .details .content p{
  margin: 10px 0 0; 
  padding: 0;
  
}