<nav>
  <ul>
    <li><a href="index.html">Home</a></li>
    <li><a href="our-findings.html">Our Findings</a></li>
    <li><a href="interviews.html">Interviews</a></li>
    <li><a href="voices-of-influence.html">Voices of Influence</a></li>
    <li><a href="out-and-about.html">Out and About</a></li>
    <li><a href="home-owners-on-the-river.html">Home Owners on the River</a></li>
    <li><a href="associated-projects.html">Associated Projects</a></li>
    <li><a href="survey-data.html">Survey Data</a></li>
  </ul>
</nav>